# Backend Configuration
WEB_DIR_NAME=backend
BACKEND_PORT=8000

DOMAIN=lushandlux.co.ke

# Database Configuration
PG_NAME=fastduka_online_shop
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=5432

# Frontend Ports
DASHBOARD_PORT=3001
LANDING_PAGE_PORT=3000
NGINX_PORT=8001