# Theme Configuration
NEXT_PUBLIC_THEME=default
# Options: default, construction, clothing

# Site Configuration
NEXT_PUBLIC_SITE_NAME=FastDuka
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# api
NEXT_PUBLIC_API_URL=http://localhost:8000